@{
    ViewBag.Title = "About Kudotsu";
}
<h2 class="glyphicon-align-justify">@ViewBag.Title.</h2>

<div class="row">
<p class="col-md-6">
Kudotsu is a social enterprise. We are an organization that applies
business strategies to achieve philanthropic goals, and in this case, 
our philanthropic goal is to educate the world. We do not aim to offer 
any benefit to our investors, except where we believe that doing so will 
ultimately further our capacity to realize our goal of providing literacy 
and numeracy programs to people of all ages, from all social backgrounds, 
and it does not matter if they are from first or third world countries.</p>
<p class="col-md-6"><img src="http://www.kudotsu.org/images/kudotsu.png" /></p>
</div>
