@{
    ViewBag.Title = "Contact";
}
<h2 class ="glyphicon-align-justify">@ViewBag.Title.</h2>

<div class="row">
    <address class="col-md-6">
        <p class="col-md-9">
        Please provide as much information as possible in this form, so that we can be efficient in our answers to you. Thank you very much for contacting us!
        <abbr title="Phone">P:</abbr>
        425.555.0100
        </p>
    </address>
    <p class="col-md-6">
        <img src="http://www.kudotsu.org/images/kudotsu.png" />
    </p>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:dingxin.yu@uqconnect.edu.au">dingxin.yu@uqconnect.edu.au</a><br />
    <strong>Marketing:</strong> <a href="mailto:pamela@kudotsu.org">pamela@kudotsu.org</a>
</address>