@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="http://www.kudotsu.org/images/kudotsu.png" /> Acetab </h1>
    <div class="row" id="1">
        <p class="col-md-5">
            <br /><br /><br /><br />
            Acetab works with schools, parents and governments to
            bring education to the unreached. We provide pedagogies on the latest
            devices, integrating school districts, curriculum writers, school teachers,
            parents and students onto one platform to create a meaningful,
            individualized learning environment.
        </p>

        <p class="col-md-4" id="images">
            <img src="http://www.kudotsu.org/images/slide4.jpg" alt="slide4" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Our products</h2>
        <p>
            The e-learning and e-teaching education
            industry continues to enjoy a 30% year-on-year growth since mid-2000s.
            Our suite of consultancy services, software solutions and courses
            are the first in the world built to integrate all stakeholders into
            education system. Whether you are a policy maker, a school
            administrator, an education provider, an educator, a parent and or
            student, we are confident that Acetab solutions will help you leap
            frog your e-learning and e-teaching initiatives.
        </p>
        <p><a class="btn btn-default" href="http://www.kudotsu.org/product.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Cases</h2>
        <p>
            Our mission is to use technology to enhance the
            education experience for learners and educators. The stories published
            here are real encounters we had. We have changed the names of the
            students to protect their identities. If you too have needs, do come
            and talk to us. We will be most happy to find a solution together
            with you.
        </p>
        <p><a class="btn btn-default" href="http://www.kudotsu.org/cases.html">Learn more &raquo;</a></p>
    </div>
</div>